@model DemoMvc115.Models.Student

<h1>Thông tin sinh viên</h1>

<ul>
    <li><strong>Mã SV:</strong> @Model.MaSV</li>
    <li><strong>Họ tên:</strong> @Model.HoTen</li>
    <li><strong>Tuổi:</strong> @Model.Tuoi</li>
    <li><strong>Lớp:</strong> @Model.Lop</li>
</ul>

<a href="/Student/Create">Nhập lại</a>
